@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Oswald:wght@700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-image: none !important;
    position: relative;
    font-weight: 700;
}

#main form ul .has_license .checkbox-explanation p {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 0px 35px 20px;
    padding: 15px;
    height: 112px;
    background: rgb(50, 43, 170);
    border-radius: 0px;
}

#header .header-text {
    display: none;
}

#header.partner {
    background-size: 75px 60px; 
}

#header {
    background-position: center center;
    background-image: url(DS_LOGO.svg) !important;
}

#main #main_inner form label {
    color: #2f3bb2;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#main #main_inner form fieldset legend {
    color: #ff0031;
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 52px;
}
/** Form Error */
form .error {
    color: #B2272C;
    font-family: Montserrat;
    font-weight: normal;
}

/** Question Mark */
#main form ul li > div.tooltip {
    padding: 6px 5px;
    float: none;
    display: inline-block;
    position: absolute;
    left: -30px;
    top: 0;
}

img#tooltip-email_address.tooltip {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px;  
    left: 160px;   
}

img#tooltip-home_zip_code.tooltip {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px; 
    left: 169px;       
}

img#tooltip-registrant_name.tooltip {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px;        
}

img#tooltip-date_of_birth.tooltip {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px; 
    left: 161px;
}

img#tooltip-phone.tooltip {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px;
    left: 93px;             
}

img#tooltip-home_address.tooltip {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px;                
}

img#tooltip-previous_name {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px;
}

img#tooltip-race.tooltip {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px;
    left: 78px; 
}

img#tooltip-party.tooltip {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px;
    left: 86px;
}

img#tooltip-previous_address.tooltip {
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px;
}

/*****************************/
.tooltip-shown {
    background: #322baa;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/*** Move Name and address queston mark ***/
/** Target the same CSS first partner.css then registration.css ******************************/

#main #main_inner form fieldset legend img.tooltip {
    padding: 2px 5px;
    float: none;
    display: inline-block;
    position: absolute;
    top: 1.3em;
}

#main form fieldset legend img.tooltip {
    padding: 2px 5px;
    float: none;
    display: inline-block;
    position: absolute;
    left: auto;
}

/************************************************/

#main #main_inner #edit_registrant_19586851 ul li div.tooltip {
    color: #ff0031;
}

/*** drop down arrows*/
#main #main_inner #other_language_link select {
    background: #fff url(down_arrow.png) no-repeat  114px center;
}

#main form ul li div select {
    background: #fff url(down_arrow.png) no-repeat 60px center;
}

#main select#registrant_phone_type {
    background: #fff url(down_arrow.png) no-repeat 82px center;
}

/*****************************/
#main #main_inner form .checkbox label,
#main #main_inner form .radio label {
    color: #202020;
}

#main #main_inner form input,
#main #main_inner form select {
    background-color: #fff;
    border: 1px solid #cbd5e0;
    border-radius: 5px;
}

#main #main_inner form fieldset legend {
    color: #ff0031;
    font-family: Oswald;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
}

#main #main_inner form button {
    background-color: #322baa;
    border: none;
    border-radius: 5px;
    color: #fff !important;
    margin: 15px auto;
    width: 75%;
    color: rgb(32, 32, 32);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#main #main_inner form ul li.registrant-form__us-citizen__line h3 input {
    font-size: 16px;
    /* vertical-align: top; */
    line-height: 1em;
}

#main #main_inner form ul li.registrant-form__us-citizen__line{
    margin: 15px auto;
    padding: 10px 15px;
    float: none;
    width: 75%;
    border: none;
}

#main #main_inner form ul .has_license .checkbox-explanation p {
    color: #fff;
    border: 2px solid;
    font-size: 13px;
    font-weight: 500;
    margin: 0px 64px 14px;
    padding: 20px;
    background: #322baa;
    font-family: 'Montserrat',sans-serif !important;
}

a:link {
    color: #322baa;
    text-decoration: underline;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

ul.checkbox h3 {
    margin-bottom: 5px;
    line-height: 20px;
    overflow: inherit;
}

input#registrant_first_name {
    background-image: none !important;
}

img#__lpform_registrant_first_name_icon {
    background-image: none !important;
}

#main .intro-message p {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

#main p.overseas-instructions {
    margin: 4em 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
}

#main p.already-registered {
    font-size: 15px;
    text-align: right;
    margin: 4em 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
}

#main form span.compliance {
    display: inline-block;
    font-size: 12px;
    color: #666;
    line-height: 1.4em;
    padding: 0 0 1em 23px;
    margin: 0 0 1em 0;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

#main form ul li h3 {
    color: #2f3bb2;
}

span .required, span.required {
    color: #2f3bb2;
}

.registrant-form__us-citizen__line span.required {
    color: black;
}

/* Replace powered by rtv logo */
body #footer .powered-by-logo img {
    display: none;
}

body #footer .powered-by-logo:after {
    content: 'Rock The Vote';
    font-family: Montserrat;
    font-weight: 500;
}

body #sticky_footer {
    background-image: none !important;
    background-repeat: repeat;
    background-size: auto auto;
    position: absolute;
    bottom: 18;
    height: 60px;
    border: none;
    right: 0;
    bottom: 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
}

#main form .instructions--state-id-number p {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

#sticky_footer {
    height: auto ;
    margin: -40px auto 0 auto;
    clear: both;
    font-family: 'Montserrat', sans-serif !important;
    background-color: transparent !important;
    font-weight: 500;
}

body #footer p a, body #footer p a:visited {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#footer a:visited {
    color: #444;
}

#footer p {
    position: relative;
    width: 100%;
    font-size: 115%;
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

body #footer #powered_by_logo {
    display: block;
    width: auto;
    padding: 0;
    margin: -13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

body #footer p a, body #footer p a:visited, body #footer p a:link {
    text-transform: uppercase;
    color: black;
}

/* Media query breakpoints */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

    img#tooltip-previous_address {
       background: url(question.svg) no-repeat right center !important;
       object-position: -99999px 99999px;  
       left: 160px;   
    }

    img#tooltip-race {
       background: url(question.svg) no-repeat right center !important;
       object-position: -99999px 99999px;  
       left: 160px;  
    }

    img#tooltip-date_of_birth.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
        left: 143px;
    }

    body #main .required--text {
        font-style: italic;
        font-size: 90%;
    }

    img#tooltip-email_address.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;  
    }

   img#tooltip-home_zip_code.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px; 
   }

   img#tooltip-registrant_name.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;        
    }

    img#tooltip-date_of_birth.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px; 
    }


    img#tooltip-phone.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
    }

    img#tooltip-home_address.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;                
    }

    img#tooltip-previous_name {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
    }
}

@media (max-width: 600px){

    body #main .required--text {
         display: none !important; 
        font-style: italic;
        font-size: 90%;
    }

    img#tooltip-email_address.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
        left: 168px;
   }

    img#tooltip-phone.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
        left: 82px;
    }

    img#tooltip-registrant_name.tooltip{
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;        
    }

    img#tooltip-date_of_birth.tooltip{
         background: url(question.svg) no-repeat right center !important;
         object-position: -99999px 99999px; 
    }


    img#tooltip-phone.tooltip{
      background: url(question.svg) no-repeat right center !important;
      object-position: -99999px 99999px;
    }

    img#tooltip-home_address.tooltip{
       background: url(question.svg) no-repeat right center !important;
       object-position: -99999px 99999px;                
    }


    img#tooltip-previous_name {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
    }
}


/* iPad breakpoints*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {  

    body.new-mobile-ui #main .dynamic-navigation {
        position:inherit;
        top: 50px
    }

    .dynamic-step li.width_b.registrant-form__first-name__line {
        clear: both
    }

    .dynamic-step li.width_b.registrant-form__first-name__line,.dynamic-step li.width_b.registrant-form__last-name__line,.dynamic-step li.width_b.registrant-form__prev-first-name__line,.dynamic-step li.width_b.registrant-form__prev-last-name__line {
        width: 40% !important
    }

    .dynamic-step li.width_b.registrant-form__last-name__line,.dynamic-step li.width_b.registrant-form__prev-last-name__line {
        margin-right: 0 !important
    }

    .dynamic-step li.width_c.registrant-form__middle-name__line,.dynamic-step li.width_c.registrant-form__prev-middle-name__line {
        width: 16% !important
    }

    img#tooltip-phone.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
        left: 81px;
    }

    img#tooltip-email_address.tooltip{
   background: url(question.svg) no-repeat right center !important;
   object-position: -99999px 99999px; 
   left: 174px; 
   }

   img#tooltip-home_zip_code.tooltip{
    background: url(question.svg) no-repeat right center !important;
    object-position: -99999px 99999px; 
   }

   img#tooltip-registrant_name.tooltip{
   background: url(question.svg) no-repeat right center !important;
   object-position: -99999px 99999px;        
   }

    img#tooltip-date_of_birth.tooltip{
         background: url(question.svg) no-repeat right center !important;
         object-position: -99999px 99999px; 
    }


    img#tooltip-phone.tooltip{
      background: url(question.svg) no-repeat right center !important;
      object-position: -99999px 99999px;
      left: 90px;
    }

    img#tooltip-home_address.tooltip{
       background: url(question.svg) no-repeat right center !important;
       object-position: -99999px 99999px;                
    }

    img#tooltip-previous_name {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
        margin-top: -23px;
        left:270px;
    }
}


/* Windows breakpoints*/


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    img#tooltip-phone.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
        left: 81px;
    }

    img#tooltip-email_address.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
        left: 171px;
    }

    img#tooltip-home_zip_code.tooltip{
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
        left: 120px; 
    }

    img#tooltip-registrant_name.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;        
    }

    img#tooltip-date_of_birth.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px; 
    }

    img#tooltip-phone.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
        left: 90px;
    }

    img#tooltip-home_address.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;                
    }

    img#tooltip-previous_name {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
    }
}

/* Windows 10 and above */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ie10up img#tooltip-phone.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
    }

    img#tooltip-email_address.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;  
    }

    img#tooltip-home_zip_code.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px; 
    }

    img#tooltip-registrant_name.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;        
    }

    img#tooltip-date_of_birth.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px; 
    }

    img#tooltip-phone.tooltip {
      background: url(question.svg) no-repeat right center !important;
      object-position: -99999px 99999px;
    }

    img#tooltip-home_address.tooltip {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;                
    }

    img#tooltip-previous_name {
        background: url(question.svg) no-repeat right center !important;
        object-position: -99999px 99999px;
    }
}