@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Oswald:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 21px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-image: none !important;
    position: relative;
}

#header .header-text {
    display: none;
}

#header.partner {
    background-size: 75px 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header #progress-bar {
    display: block;
}

#header {
    background-image: url(DS_LOGO.svg) !important;
}

#main #main_inner form label {
    color: #2f3bb2;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#main #main_inner form fieldset legend {
    color: #ff0031;
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/** Progress Bar */
ol li {
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    color: #322baa;
    font-weight: bold;
    border: 7px solid #322baa;
    border-radius: 60px;
    padding: 8px 12px;

}

li.progress-title {
    display: none;
}

li.progress-current, li.progress-done {
    color: #ffffff;
    background-color: #ff0031;
}

li.progress-done {
    font-size: 16px;
    padding: 8px 10px;
}

/** Form Error */
form .error {
    color: #B2272C;
    font-family: Montserrat;
    font-weight: normal;
}

/** Queston mark tooltips */
/** Target the same CSS first partner.css then registration.css ******************************/
#main form ul li>div.tooltip img, 
#main form fieldset legend img.tooltip,
img#tooltip-previous_name,
img#tooltip-previous_address.tooltip {
    background: url(question.svg) no-repeat right center !important;
    width: 21px;
    height: 21px;
    padding-left: 26px;
    left: 120px;
}

#main form ul li>div.tooltip img#tooltip-email_address.tooltip {
    left: 170px;
}

#main form fieldset legend img#tooltip-registrant_name.tooltip {
    left: 85px;
}

img#tooltip-previous_name {
    position: absolute;
    left: 270px;
    top: .25em;
}

#main form fieldset legend img#tooltip-home_address.tooltip {
    left: 240px;
}

#main form fieldset legend img#tooltip-mailing_address.tooltip {
    left: 280px; 
}

img#tooltip-previous_address.tooltip {
    left: 0;
}

#main form ul li>div.tooltip img#tooltip-race.tooltip {
    left: 80px;
}

#main form ul li>div.tooltip img#tooltip-race.tooltip {
    left: 80px;
}

#main form ul li>div.tooltip img#tooltip-party {
    left: 90px;
}

#main form ul li>div.tooltip img#tooltip-date_of_birth.tooltip {
    left: 165px;
}

#main form ul li>div.tooltip img#tooltip-phone.tooltip {
    left: 95px;
}

#main #main_inner #edit_registrant_19586851 ul li div.tooltip {
    color: #ff0031;
}

/** Drop down arrows */
#main #main_inner #other_language_link select {
    background: #fff url(down_arrow.png) no-repeat  114px center;
}

#main form ul li div select {
    background: #fff url(down_arrow.png) no-repeat 60px center;
}

#main select#registrant_phone_type {
    background: #fff url(down_arrow.png) no-repeat 82px center;
}

/*****************************/
#main #main_inner form .checkbox label,
#main #main_inner form .radio label {
    color: #202020;
    font-weight: 500;
}

#main #main_inner form input,
#main #main_inner form select {
    background-color: #fff;
    border: 1px solid #cbd5e0;
    border-radius: 5px;
}

#main #main_inner form button {
    background-color: #322baa;
    border: none;
    border-radius: 5px;
    color: #fff !important;
    margin: 15px auto;
    width: 75%;
    color: rgb(32, 32, 32);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#main form ul li.registrant-form__us-citizen__line h3 input[type=checkbox] {
    font-size: 12px;
    vertical-align: sub;
}

#main form ul li.registrant-form__change-of-name__line input[type=checkbox] {
    font-size: 12px;
    vertical-align: text-bottom;
}

#main #main_inner form ul li.registrant-form__us-citizen__line {
    margin: 0;
    padding: 0;
    border: none;
}

#main #main_inner form ul .has_license .checkbox-explanation p {
    color: #fff;
    border: 2px solid;
    font-size: 13px;
    font-weight: 500;
    background: #322baa;
    font-family: 'Montserrat',sans-serif !important;
}

a:link {
    color: #322baa;
    text-decoration: underline;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.back a {
    font-weight: 500;
}

ul.checkbox h3 {
    margin-bottom: 5px;
    line-height: 20px;
    overflow: inherit;
}

input#registrant_first_name {
    background-image: none !important;
}

img#__lpform_registrant_first_name_icon {
    background-image: none !important;
}

#main .intro-message p {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

#main p.overseas-instructions {
    margin: 4em 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
}

#main p.already-registered {
    font-size: 15px;
    text-align: right;
    margin: 4em 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
}

#main form span.compliance {
    display: inline-block;
    font-size: 12px;
    color: #666;
    line-height: 1.4em;
    padding: 0 0 1em 23px;
    margin: 0 0 1em 0;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

#main form ul li h3 {
    margin-bottom: 6px;
}

span .required, span.required {
    color: #2f3bb2;
}

.registrant-form__us-citizen__line span.required {
    color: black;
}

/** Replace powered by rtv logo */
body #footer .powered-by-logo img {
    display: none;
}

body #footer .powered-by-logo:after {
    content: 'Rock The Vote';
    font-family: Montserrat;
    font-weight: 500;
}

body #sticky_footer {
    background-image: none !important;
    background-repeat: repeat;
    background-size: auto auto;
    position: absolute;
    bottom: 18;
    height: 60px;
    border: none;
    right: 0;
    bottom: 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
}

#main form .instructions--state-id-number p {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

#sticky_footer {
    height: auto ;
    margin: -40px auto 0 auto;
    clear: both;
    font-family: 'Montserrat', sans-serif !important;
    background-color: transparent !important;
    font-weight: 500;
}

body #footer p a, body #footer p a:visited {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#footer a:visited {
    color: #444;
}

#footer p {
    position: relative;
    width: 100%;
    font-size: 115%;
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

body #footer #powered_by_logo {
    display: block;
    width: auto;
    padding: 0;
    margin: -13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

body #footer p a, body #footer p a:visited, body #footer p a:link {
    text-transform: uppercase;
    color: black;
}

@media (max-width: 600px) {

    body #main .required--text {
        display: none !important; 
        font-style: italic;
        font-size: 90%;
    }
}

/** iPad breakpoints */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {  

    body.new-mobile-ui #main .dynamic-navigation {
        position:inherit;
        top: 50px;
    }

    .dynamic-step li.width_b.registrant-form__first-name__line {
        clear: both;
    }

    .dynamic-step li.width_b.registrant-form__first-name__line,
    .dynamic-step li.width_b.registrant-form__last-name__line,
    .dynamic-step li.width_b.registrant-form__prev-first-name__line,
    .dynamic-step li.width_b.registrant-form__prev-last-name__line {
        width: 40% !important;
    }

    .dynamic-step li.width_b.registrant-form__last-name__line,
    .dynamic-step li.width_b.registrant-form__prev-last-name__line {
        margin-right: 0 !important;
    }

    .dynamic-step li.width_c.registrant-form__middle-name__line,
    .dynamic-step li.width_c.registrant-form__prev-middle-name__line {
        width: 16% !important;
    }
}

/** Media query breakpoints */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

    body #main .required--text {
        font-style: italic;
        font-size: 90%;
    }
}

/** Media query breakpoints */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {
    #header {
        background-position: center center;
    }

    #header.partner {
        justify-content: center;
        padding-top: 120px;
    }

    ol li {
        margin: 10px 5px;
    }
}